<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Basiseinstellung</title>
        <component name="sw-entity-multi-id-select">
            <name>deliveryMethods</name>
            <label>Whitelisted delivery methods for ERIVE.delivery</label>
            <label lang="de-DE">Aufgeführte Versandmethoden für ERIVE.delivery</label>
            <helpText>Orders placed with selected delivery methods will be submitted to the ERIVE.delivery platform</helpText>
            <helpText lang="de-DE">Bestellungen, die mit ausgewählten Liefermethoden aufgegeben werden, werden an die ERIVE.delivery-Plattformen übermittelt</helpText>
            <entity>shipping_method</entity>
        </component>
        <input-field type="bool">
            <name>announceParcelOnShip</name>
            <label>Automatically announce parcel to ERIVE.delivery after delivery status was changed to 'Shipped'</label>
            <label lang="de-DE">Sendung automatisch bei ERIVE.delivery ankündigen, wenn der Bestellstatus auf "Versandt" gesetzt wurde</label>
            <helpText>Parcel needs to be ready for pickup. Pickup is scheduled. </helpText>
            <helpText lang="de-DE">Paket muss fertig zur Abholung verpackt sein. Abholung wird eingeplant.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>countPackagingUnits</name>
            <label>Print label for each product in order</label>
            <label lang="de-DE">Paketschein für jedes Produkt in Bestellung drucken</label>
            <helpText>Each product is packaged separately and needs a parcel label</helpText>
            <helpText lang="de-DE">Jedes Produkt wird einzeln verpackt und benötigt ein Versandetikett</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Environment configuration</title>
        <title lang="de-DE">Umgebungskonfiguration</title>
        <input-field type="single-select">
            <name>eriveEnvironment</name>
            <options>
                <option>
                    <id>dev</id>
                    <name>dev.greentohome.at</name>
                </option>
                <option>
                    <id>stage</id>
                    <name>stage.greentohome.at</name>
                </option>
                <option>
                    <id>www</id>
                    <name>www.erive.delivery</name>
                </option>
                <option>
                    <id>custom</id>
                    <name>Custom API Endpoint</name>
                </option>
            </options>
            <defaultValue>dev</defaultValue>
            <label>ERIVE Server Environment</label>
            <label lang="de-DE">ERIVE Serverumgebung</label>
        </input-field>
        <input-field>
            <name>customApiEndpoint</name>
            <label>Custom API Endpoint</label>
            <label lang="de-DE">Benutzerdefinierter API-Endpunkt</label>
            <helpText>Endpoint to use if Erive Server Environment is set to custom. e.g. ERIVE on your local machine, test environment</helpText>
            <helpText lang="de-DE">Zu verwendender Endpunkt, wenn die Erive-Serverumgebung auf „Benutzerdefiniert“ eingestellt ist. z.B. ERIVE auf Ihrem lokalen Computer, Testumgebung</helpText>
            <defaultValue>https://gth.test/api/v1</defaultValue>
        </input-field>
        <input-field type="password">
            <name>apiTestKey</name>
            <label>Test API Key (DEV, STAGE, custom)</label>
            <label lang="de-DE">API Key Testumgebung (DEV, STAGE, custom)</label>
            <helpText>Company API Key for Testing</helpText>
            <helpText lang="de-DE">Unternehmens-API-Schlüssel zum Testen</helpText>
        </input-field>
        <input-field type="password">
            <name>apiKey</name>
            <label>Production API Key</label>
            <label lang="de-DE">API Key Produktion</label>
            <helpText>Company API Key for PROD</helpText>
            <helpText lang="de-DE">Unternehmens-API-Schlüssel zum Produktion</helpText>
        </input-field>
        <component name="erive-api-test-button">
            <name>apiTest</name>
            <label>API Connection test</label>
            <label lang="de-DE">API Verbindung testen</label>
        </component>
    </card>
</config>
