<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Basic Configuration</title>
        <title lang="de-DE">Basiseinstellung</title>
        <component name="sw-entity-multi-id-select">
            <name>deliveryMethods</name>
            <label>Whitelisted delivery methods for ERIVE.delivery</label>
            <label lang="de-DE">Aufgeführte Versandmethoden für ERIVE.delivery</label>
            <helpText>Orders placed with selected delivery methods will be submitted to the ERIVE.delivery platform</helpText>
            <helpText lang="de-DE">Bestellungen, die mit ausgewählten Liefermethoden aufgegeben werden, werden an die ERIVE.delivery-Plattformen übermittelt</helpText>
            <entity>shipping_method</entity>
        </component>
        <input-field type="bool">
            <name>announceParcelOnShip</name>
            <label>Announce parcel after order has been Shipped</label>
            <label lang="de-DE">Kündigen Sie das Paket an, nachdem die Bestellung versandt wurde</label>
            <helpText>Change parcel state to "Announced" after order state changed to "Shipped"</helpText>
            <helpText lang="de-DE">Ändern Sie den Paketstatus in „Angekündigt“, nachdem sich der Bestellstatus in „Versendet“ geändert hat.</helpText>
            <defaultValue>False</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>countPackagingUnits</name>
            <label>Each product has its own parcel label</label>
            <label lang="de-DE">Für jedes Produkt gibt es einen eigenen Paketschein</label>
            <helpText>Print a parcel label and allocate a packaging unit for each ordered product (as opposed to one parcel label in case the order is packed in one box)</helpText>
            <helpText lang="de-DE">Drucken Sie einen Paketschein aus und weisen Sie jedem bestellten Produkt eine Verpackungseinheit zu (im Gegensatz zu einem Paketschein, wenn die Bestellung in einem Karton verpackt ist).</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Environment configuration</title>
        <title lang="de-DE">Umgebungskonfiguration</title>
        <input-field type="single-select">
            <name>eriveEnvironment</name>
            <options>
                <option>
                    <id>dev</id>
                    <name>dev.greentohome.at</name>
                </option>
                <option>
                    <id>stage</id>
                    <name>stage.greentohome.at</name>
                </option>
                <option>
                    <id>www</id>
                    <name>www.erive.delivery</name>
                </option>
                <option>
                    <id>custom</id>
                    <name>Custom API Endpoint</name>
                </option>
            </options>
            <defaultValue>dev</defaultValue>
            <label>ERIVE Server Environment</label>
            <label lang="de-DE">ERIVE Serverumgebung</label>
        </input-field>
        <input-field>
            <name>customApiEndpoint</name>
            <label>Custom API Endpoint</label>
            <helpText>Endpoint to use if Erive Server Environment is set to custom. e.g. ERIVE on your local machine, test environment</helpText>
            <defaultValue>https://gth.test/api/v1</defaultValue>
        </input-field>
        <input-field type="password">
            <name>apiTestKey</name>
            <label>Test API Key (DEV, STAGE, custom)</label>
            <helpText>Company API Key for Testing</helpText>
        </input-field>
        <input-field type="password">
            <name>apiKey</name>
            <label>Production API Key</label>
            <label lang="de-DE">API Key</label>
            <helpText>Company API Key for PROD</helpText>
        </input-field>
    </card>
</config>
